@import "tailwindcss";
@import "tw-animate-css";

/* Enable class-based dark mode for Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* Ant Design Dark Mode Overrides */
.dark .ant-input,
.dark .ant-input-affix-wrapper,
.dark .ant-input-textarea textarea {
    background-color: rgb(51 65 85) !important;
    /* slate-700 */
    color: white !important;
    border-color: rgb(71 85 105) !important;
    /* slate-600 */
}

.dark .ant-input::placeholder,
.dark .ant-input-textarea textarea::placeholder {
    color: rgb(148 163 184) !important;
    /* slate-400 */
}

.dark .ant-select-selector {
    background-color: rgb(51 65 85) !important;
    color: white !important;
    border-color: rgb(71 85 105) !important;
}

.dark .ant-select-arrow {
    color: rgb(148 163 184) !important;
}

.dark .ant-modal-content {
    background-color: rgb(30 41 59) !important;
    /* slate-800 */
    color: white !important;
}

.dark .ant-modal-header {
    background-color: rgb(30 41 59) !important;
    border-bottom-color: rgb(51 65 85) !important;
}

.dark .ant-modal-title {
    color: white !important;
}

.dark .ant-modal-close-x {
    color: rgb(148 163 184) !important;
}

.dark .ant-modal-footer {
    border-top-color: rgb(51 65 85) !important;
}

.dark .ant-btn-default {
    background-color: rgb(51 65 85) !important;
    color: white !important;
    border-color: rgb(71 85 105) !important;
}

.dark .ant-btn-default:hover {
    background-color: rgb(71 85 105) !important;
    color: white !important;
    border-color: rgb(100 116 139) !important;
}

/* Ant Design Table Dark Mode */
.dark .ant-table {
    background-color: rgb(30 41 59) !important;
    color: white !important;
}

.dark .ant-table-thead>tr>th {
    background-color: rgb(51 65 85) !important;
    color: white !important;
    border-bottom-color: rgb(71 85 105) !important;
}

.dark .ant-table-tbody>tr>td {
    background-color: rgb(30 41 59) !important;
    color: white !important;
    border-bottom-color: rgb(51 65 85) !important;
}

.dark .ant-table-tbody>tr:hover>td {
    background-color: rgb(51 65 85) !important;
}

.dark .ant-table-cell-row-hover {
    background-color: rgb(51 65 85) !important;
}

.dark .ant-table-wrapper .ant-table-container {
    border-color: rgb(51 65 85) !important;
}

.dark .ant-pagination-item {
    background-color: rgb(51 65 85) !important;
    border-color: rgb(71 85 105) !important;
}

.dark .ant-pagination-item a {
    color: white !important;
}

.dark .ant-pagination-item-active {
    border-color: rgb(59 130 246) !important;
}

.dark .ant-pagination-prev .ant-pagination-item-link,
.dark .ant-pagination-next .ant-pagination-item-link {
    background-color: rgb(51 65 85) !important;
    border-color: rgb(71 85 105) !important;
    color: white !important;
}

.dark .ant-pagination-options .ant-select-selector {
    background-color: rgb(51 65 85) !important;
    color: white !important;
}

.dark .ant-table-footer,
.dark .ant-table-summary {
    background-color: rgb(30 41 59) !important;
}

.dark .ant-empty-description {
    color: rgb(148 163 184) !important;
}

/* Form in dark mode */
.dark .ant-form-item-label>label {
    color: white !important;
}

.dark .ant-form-item-explain-error {
    color: rgb(248 113 113) !important;
}

/* Dropdown in dark mode */
.dark .ant-dropdown-menu {
    background-color: rgb(30 41 59) !important;
}

.dark .ant-dropdown-menu-item {
    color: white !important;
}

.dark .ant-dropdown-menu-item:hover {
    background-color: rgb(51 65 85) !important;
}

.dark .ant-dropdown-menu-item-danger:hover {
    background-color: rgb(127 29 29) !important;
}

/* Card in dark mode */
.dark .ant-card {
    background-color: rgb(30 41 59) !important;
    border-color: rgb(51 65 85) !important;
}

.dark .ant-card-body {
    background-color: rgb(30 41 59) !important;
    color: white !important;
}

.dark .ant-card-meta-title {
    color: white !important;
}

.dark .ant-card-meta-description {
    color: rgb(148 163 184) !important;
}

.dark .ant-card-actions {
    background-color: rgb(51 65 85) !important;
    border-top-color: rgb(71 85 105) !important;
}

.dark .ant-card-actions>li {
    color: rgb(148 163 184) !important;
}

.dark .ant-card-actions>li:not(:last-child) {
    border-inline-end-color: rgb(71 85 105) !important;
}

.dark .ant-card-hoverable:hover {
    border-color: rgb(71 85 105) !important;
}

/* Select Dropdown Popup in dark mode */
html.dark .ant-select-dropdown {
    background-color: rgb(30 41 59) !important;
    border-color: rgb(51 65 85) !important;
}

html.dark .ant-select-item {
    color: white !important;
}

html.dark .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: rgb(51 65 85) !important;
}

html.dark .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: rgb(71 85 105) !important;
    color: white !important;
}

html.dark .ant-select-item-option:hover {
    background-color: rgb(51 65 85) !important;
}